{% extends 'layouts/main.html.twig' %}

{% block body %}

{% if update_success %}
    <h1 style="color: green;">{{ update_success }}</h1>
{% endif %}

{% if email_confirmed_successfully %}
    <h1 style="color: green;">{{ email_confirmed_successfully }}</h1>
{% endif %}

{% if email_confirmed_failed %}
    <h1 style="color: red;">{{ email_confirmed_failed }}</h1>
{% endif %}

<div class="row">
    <div class="col-12">
    	<h1>Home Page</h1>
        {% if not user.name and not user.photo %}
            <h3 style="color: red;">For the next step add name and photo.</h3>
        {% endif %}

        {% if user.name and user.photo and not user.is_active%}
            <h3 style="color: red;">To became an active user confirm your email.</h3>
            <a href="/send_email">
                <button type="button" class="btn btn-danger">Send email</button>
            </a>
            <br><br>
        {% endif %}

	</div>

    <div class="col-3">

        {% if user.photo %}
            <img src="/uploads/images/{{ user.photo }}" style="width: 300px;">
        {% else %}
            <img src="/uploads/images/ava_default.jpeg">
        {% endif %}

        <br><br>

        <a href="/edit_profile">
            <button type="button" class="btn btn-primary">Edit profile</button>
        </a>
    </div>

    <div class="col-8">   
    	<h3>Email: {{ user.email }}</h3>
        <h3>Name: {{ user.name }}</h3>
        <h3>Personal key: {{ user.key }}</h3>
        <h3>Registered at: {{ user.registered_at }}</h3>
    </div>
 </div>

{% endblock %}